rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    
    // Helper Functions
    function isAuthenticated() {
      return request.auth != null;
    }

    function isAdmin() {
      return isAuthenticated() &&
        (get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == 'admin' ||
          request.auth.token.email == "wiwikismiati61@guru.smp.belajar.id");
    }

    // Allow all authenticated users to read and write library data
    match /schoolData/{document=**} {
      allow read: if true;
      allow write: if isAuthenticated();
    }
    
    // Users collection
    match /users/{userId} {
      allow read: if isAuthenticated();
      allow create: if isAuthenticated() && (request.auth.uid == userId || isAdmin());
      allow update: if isAdmin();
      allow delete: if isAdmin();
    }
  }
}
